/*DEBUT HEADER/FOOTER*/
#bodyHeader {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

#bodyFotter {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

.bienvenue{
  color:red;
}

#titreSite {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/Projet-Calendrier-Reservation/public/styles/img/pont.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
  display: flex;
  height: 200px;
  border-style: solid ;
  border-color: rgb(28, 53, 69);
  border-width: 0 0 3px 0;
}

#blason {
  margin-left: 2rem;
}

#titre {
  width: 100%;
  color: rgba(250, 253, 247, 0.863);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
#titre1 {
  font-size: 50px;
  margin-top: 15px;
  color: rgb(255, 255, 255, 0.8);
}
#titre2 {
  font-size: 20px;
  color: rgb(255, 255, 255, 0.8);
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(28, 53, 69);
  margin-top: 25px;
  color: rgb(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}
#blason {
  margin: 0;
  display: flex;
  align-items: center;
}
#blason img {
  width: 100px;
  height: auto;
  display: block;
}
#infoCommune {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(255, 255, 255, 0.8);
}
#edited {
  gap: 10px;
  color: rgb(255, 255, 255, 0.8);
}
#info {
  color: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.connect {
  position: absolute;
  top: 15px;
  right: 30px;
  color: rgb(255, 255, 255, 0.8);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 1000;
  gap: 15px;
  font-size: 22px;
}
.titreFooter {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
}

#bienvenu {
  font-size: 50px;
}

#deco {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-end;
}

.co {
  color: rgba(255, 255, 255, 0.8);
}
/*FIN HEADER/FOOTER*/
