/*DEBUT HEADER/FOOTER*/
#bodyHeader {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

#bodyFotter {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

#titreSite {
  background-image: url("/Projet-Calendrier-Reservation/public/styles/img/pont.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
  display: flex;
  height: 200px;
}

#titre {
  width: 100%;
  color: rgba(250, 253, 247, 0.863);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
#titre1 {
  font-size: 50px;
  margin-top: 15px;
  color: rgba(250, 253, 247, 0.863);
}
#titre2 {
  font-size: 20px;
  color: rgba(250, 253, 247, 0.863);
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 300px;
  border-top: solid 2px rgb(28, 53, 69);
  margin-top: 25px;
}
#blason {
  margin: 0;
  display: flex;
  align-items: center;
}
#blason img {
  width: 100px;
  height: auto;
  display: block;
}
#infoCommune {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(28, 53, 69);
}
#edited {
  gap: 10px;
  color: rgb(28, 53, 69);
}
#info {
  color: rgb(28, 53, 69);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.connect {
  position: absolute;
  top: 15px;
  right: 30px;
  color: rgba(250, 253, 247, 0.863);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 1000;
  gap: 15px;
  font-size: 22px;
}
.titreFooter {
  color: rgba(0, 0, 0, 0.863);
}

/*FIN HEADER/FOOTER*/
