/*DEBUT HEADER/FOOTER*/
body {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

.head {
  background-image: url('/Projet-Calendrier-Reservation/public/styles/img/pont.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
  display: flex;
  height: 200px;
}

.titre {
  width: 100%;
  color: rgba(250, 253, 247, 0.863);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.titre1 {
  font-size: 50px;
  margin-bottom: 0px;
}
.titre2 {
  font-size: 20px;
}
main {
  width: 100%;
}
nav {
  margin-top: 50px;
  display: flex;

  justify-content: space-around;
  align-items: center;

  height: 30px;
}
.nav {
  color: rgb(28, 53, 69);
  font-size: 25px;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 300px;
  border-top: solid 2px rgb(28, 53, 69);
}
.logo {
  margin: 0;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  height: auto;
  display: block;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(28, 53, 69);
}
.create {
  gap: 10px;
  color: rgb(28, 53, 69);
}
.lien {
  color: rgb(28, 53, 69);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}
main {
  display: flex;
  justify-content: center;
}
.connect {
  position: absolute;
  top: 15px;
  right: 30px;
  color: rgba(250, 253, 247, 0.863);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 1000;
  display: flex;
  gap: 15px;
  font-size: 22px;
}

.menue {
  display: flex;
  justify-content: flex-start;
}
/*FIN HEADER/FOOTER*/
