#bodyFormInscription {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/Projet-Calendrier-Reservation/public/styles/img/pont.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: auto;
  background-attachment: fixed;
}
#formulaireInscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputForm {
  font-size: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #b2b2b2;
  width: 300px;
  box-sizing: border-box;
}

#formInscription {
  display: flex;
  flex-direction: column;
  padding: 60px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.325);
}
.txt {
  font-size: 20px;
  font-weight: bold;
}
#titreFormInscription {
  margin-bottom: 20%;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 16px;
}

#submitButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
#selectAssociation {
  margin-bottom: 15%;
  padding: 5px;
}

#mdp{
  margin-top: 20px;
  font-size: 1em;
}



