#nav-menu-open {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: -250px;
    background-color: rgb(247, 247, 238);
    padding-top: 60px;
    transition: left 0.5s ease;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    margin-top: 0;
    padding-top: 0;
}

#btn-close-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#nav-menu-open ul {
    list-style: none;
    padding: 0 20px;
    margin-top: -500px;
}

#nav-menu-open li {
    margin: 20px 0;
}

#btn-open-menu {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    
}

#nav-menu-close {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 1100;
}

.list-menu {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display: block;
    padding: 10px 0;
}