#main-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    padding-top: 200px; /* hauteur du header */
}

#nav-menu-open {
    height: 125%;
    width: 250px;
    position: absolute;
    z-index: 10;
    top: 200px;
    bottom: -240px;
    left: -250px;
    background-color: rgb(28, 53, 69);
    padding-top: 60px;
    transition: left 0.5s ease;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    margin-top: 0;
    padding-top: 0;
}

@media (max-width: 600px) {
    #nav-menu-open {
        width: 80vw;
        min-width: 180px;
        max-width: 95vw;
    }
}

#btn-close-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#nav-menu-open ul {
    list-style: none;
    padding: 0 20px;
    margin-top: 60px;
}

#nav-menu-open li {
    margin: 20px 0;
}

#btn-open-menu {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    
}

#nav-menu-close {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 1100;
}

.list-menu {
    position: relative;
    color: rgb(255, 255, 255, 0.8);
    font-size: 1.2rem;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    overflow: hidden;
    font-weight: 600;
}

.list-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255, 0.8);
    transition: width 0.3s ease;
}

.list-menu:hover::after {
    width: 100%;
}