#nav-menu-open {
    height: 100% ;
    width: 250px ;
    position: fixed;
    z-index: 1 ;
    top: 0;
    right: -250px;
    background-color: beige;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.list-menu {
    
}